@using BlazorApp.Data.Models

<div class="container">
	<div class="@Orientation">
		@foreach (var item in Items)
		{
			<div class="@ItemOrientation">
				<div>@item.Id</div>
				<div>@item.Name</div>
				<div>@item.Descr</div>
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public List<BlazorApp.Data.Models.CartItem> Items { get; set; }

	[Parameter]
	public string Orientation { get; set; }
	[Parameter]
	public string ItemOrientation { get; set; }

	public string Class { get; set; }

}